<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

		<bean id="triangle" class="org.spring.test.Triangle" autowire="byName"/>
		
		<bean id="pointA" class="org.spring.test.Point">
			<qualifier value="circleRelated"/>
		 	<property name="x" value="${PointA.PointX}" />
		 	<property name="y" value="${PointA.PointY}" />
		</bean>
		
		<bean id="pointB" class="org.spring.test.Point">
		 	<property name="x" value="${PointB.PointX}" />
		 	<property name="y" value="${PointB.PointY}" />
		</bean>
				
		<bean id="pointC" class="org.spring.test.Point">
	 		<property name="x" value="${PointC.PointX}" />
	 		<property name="y" value="${PointC.PointY}" />
		</bean>
		
		
		<bean id="circle" class="org.spring.test.Circle" scope="singleton">
			
		</bean>
		
		<bean class="org.spring.test.DisplayNamePostProcessor"/>
		<bean class="org.spring.test.BeanFactoryPP"/>
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations" value="/main/resources/spring.pointsvalues.properties"/>
		</bean>
		
		<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
		<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
		
</beans>