<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

		<bean id="triangle" class="org.spring.test.Triangle">
			<property name="pointA" ref="center"/>
			<property name="pointB" ref="pointB"/>
			<property name="pointC" ref="pointC"/>
		</bean>
		
		<bean id="center" class="org.spring.test.Point">
			<qualifier value="triangleRelated"/>
		 	<property name="x" value="${PointA.PointX}" />
		 	<property name="y" value="${PointA.PointY}" />
		</bean>
		
		<bean id="pointB" class="org.spring.test.Point">
			<qualifier value="circleRelated"/>
		 	<property name="x" value="${PointB.PointX}" />
		 	<property name="y" value="${PointB.PointY}" />
		</bean>
				
		<bean id="pointC" class="org.spring.test.Point">
	 		<property name="x" value="${PointC.PointX}" />
	 		<property name="y" value="${PointC.PointY}" />
		</bean>
		
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations" value="/main/resources/spring.pointsvalues.properties"/>
		</bean>
		
		<context:annotation-config/>
		
		
		<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:main/resources/spring_mymessages</value>
            </list>
        </property>
    	</bean>
    	
		<!-- Hibernate Konfigürasyonu -->
		
		<bean id="KulDAO_h" class="com.da.KulDAO_h">
			<!-- <property name="dataSource" ref="dataSource"></property> -->
		</bean>
		
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
				 <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
 				 <property name="url" value="jdbc:mysql://localhost:3306/networkdb"/>
 				 <property name="username" value="root" />
        		<property name="password" value="" />
		</bean>
		
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
				<property name="dataSource" ref="dataSource"/>
				<property name="packagesToScan" value="com.entity"/>
				<property name="configLocation" value="classpath:/main/resources/hibernate.cfg.xml" />
		</bean>
    	
    	<context:component-scan base-package="com.da"/>
		<!-- <context:component-scan base-package="org.spring.test"/> -->
		
		
</beans>